body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: "Malish";
  src: local("Malish"),
    url("./assets/font/static/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Malish";
  src: local("Malish"),
    url("./assets/font/static/Mulish-ExtraBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Malish";
  src: local("Malish"),
    url("./assets/font/static/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Malish";
  src: local("Malish"),
    url("./assets/font/static/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
}

.pagination{
  position: absolute;
  right: 25px;
  bottom: -10px;
}

.pagination .page-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link{
  border: none !important;
  background-color: transparent !important;
  color: #fff !important;
}
.pagination .page-item .active{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #7F73FF;
  border: none !important;
}
.page-link.active .page-item:first-child .page-link {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.active>.page-link, .page-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #7F73FF !important;
  z-index: 3;
  border: none !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  outline: none !important;
  /* color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color); */
}
.page-item:last-child .page-link {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.page-item .active:first-child .page-link {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}